# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# Mac shit
.DS_Store
._*

# MKL (not sure if this is gonna be used, but hey, it's always handy to set this from the start)
MKL*
*MKL*

# Eclipse
.project

# Test
test_JCR_MAC
test_JCR_WINDOWS.exe
test_JCR_LINUX

# test script generated stuff
jcr_testscript.JCR6_Instructions
jcr_testscript.SavedVars.JCR6_Instructions
jcr_testscript.SavedVars.SavedVars.lua
jcr_testscript.SavedVars.lua
jcr_testscript.jif
